#img-icon{
	position:relative;
	left:-20px;
	top:-20px;
	width:40px;
	height:40px;
}

#img-close{
	position:relative;
	left:345px;
	top:-50px;
	width:30px;
	height:30px;
}

/*
.div-close{
	border-radius:20px;
	background-color:white;
}
*/
.mid{
	background:white; margin:20px 20px 20px 20px;
	padding: 0 40px 20px 40px;
	position:fixed;
	top:25%;
	left:33%;
	width:33%;
	z-index:1024;
}

.btn-30{
	width:30%;
}
